<!DOCTYPE html>
<html lang="en">
          <!-- HEAD -->
  <%- include ("./partials/head") %> 
          <!-- HEAD -->

<body class="bg-warning bg-opacity-25">
    
    <header>
            <!-- NAVBAR -->
    <%- include ("./partials/navbar") %>
            <!-- NAVBAR -->

            <!-- UPPER BANNER -->
    <%- include ("./partials/upperBanner") %>
            <!-- UPPER BANNER -->
    </header>

                <!-- CARDS -->
                <%- include ("./partials/cards") %>
                <!-- CARDS -->

</body>
</html>