<div class="container p-2">

    <div class="row align-items-center">

            <div class="col">
<div class="card" style="width: 14rem;">
    <img src="https://sevilla.abc.es/estilo/bulevarsur/wp-content/uploads/sites/14/2020/04/cortar-pelo-hombre-casa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Corte de Pelo</h5>
      <p class="card-text">Duración: 1 hora. <br>
                            Incluye corte, lavado y peinado.</p>
      <a href="#" class="btn btn-primary">Reservar</a>
  </div>       </div>       </div> 

    <div class="col">
  <div class="card" style="width: 14rem;">
    <img src="https://sevilla.abc.es/estilo/bulevarsur/wp-content/uploads/sites/14/2020/04/cortar-pelo-hombre-casa.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Corte de Pelo</h5>
      <p class="card-text">Duración: 1 hora. <br>
                            Incluye corte, lavado y peinado.</p>
      <a href="#" class="btn btn-primary">Reservar</a>
  </div>    </div>     </div>

  <div class="col">
    <div class="card" style="width: 14rem;">
      <img src="https://sevilla.abc.es/estilo/bulevarsur/wp-content/uploads/sites/14/2020/04/cortar-pelo-hombre-casa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Corte de Pelo</h5>
        <p class="card-text">Duración: 1 hora. <br>
                              Incluye corte, lavado y peinado.</p>
        <a href="#" class="btn btn-primary">Reservar</a>
    </div>    </div>     </div>

</div>
</div>
