<!-- Navbar -->
<nav class="navbar navbar-light bg-dark fixed-top">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Tienda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/contact">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Sobre Nosotros</a>
      </li>
    </ul>

    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link text-light" href="#">Registrarse</a>
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">Ingresar</a>
    </ul>
</nav>
<!-- Navbar -->