       <!-- UPPER BANNER -->
       <div
       class="p-5 text-center bg-image"
       style="
         background-image: url('https://blog.agendapro.com/hubfs/Blog%20barber%C3%ADa%20fallas.png');
         height: 300px;
         margin-top: 58px;
       ">
     
     
       <div class="d-flex justify-content-center align-items-center p-4" style="background-color: rgba(0, 0, 0, 0.6);"
             style="
             height: 300px;">
           <div class="text-white">
             <h1 class="mb-6">PROMO</h1>
             <a class="btn btn-outline-light btn-lg" href="#!" role="button"
             >Call to action</a >
     
         </div>
       </div>
     </div>
     <!--UPPER BANNER -->
     